:root {
    --doc-height: 100%;
    --general-margin: 2rem;
    --bg-color: #E9E3FF;
    --txt-color: #000;
    --acc-color: #4c00ff;
}

body {
    width: 100%;
    height: auto;
    font-family: basic-sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    padding: var(--general-margin);
    overflow-x: hidden;
}

a {
    font-size: .75rem;
    font-weight: 600;
    color: #4c00ff;
    text-transform: uppercase;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    pointer-events: none;
    z-index: -1;
    filter: blur(5px);
}

@keyframes appear {
    0% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(0);
    }

    55% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.header {
    position: fixed;
    top: var(--general-margin);
    right: var(--general-margin);
    text-align: right;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    z-index: 2;
    overflow: hidden;
}

.header span {
    position: relative;
    display: inline-block;
    animation: 3s ease-in infinite reverse both appear;
    color: #4c00ff;
}

/* .project {
    width: max-content;
} */

.project-header {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.projects-list li:first-of-type {
    margin-bottom: 3rem;
}

.project:not(:last-of-type) {
    margin-bottom: 1rem;
}

.projects-list h2 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.project-specs p,
.project-link p,
.project-overview p,
.impressum {
    font-weight: 400;
    font-size: .75rem;
    text-transform: uppercase;
    display: inline-block;
}

.copy h2 {
    font-weight: 600;
    font-size: .75rem;
    line-height: 2;
    color: var(--acc-color);
    text-transform: uppercase;
}

.copy h2:not(:first-of-type) {
    margin-top: 1rem;
}

.copy p {
    font-weight: 400;
    font-size: .9rem;
    max-width: 33%;
}

.project-overview p {
    margin-right: 2px;
    font-weight: 600;
    color: #4c00ff;
    cursor: crosshair;
}

.project-link p {
    margin-right: 2px;
    font-weight: 600;
    color: #4c00ff;
}

.project-overview svg,
.project-link svg {
    width: 8px;
    stroke: var(--acc-color);
    stroke-width: 3px;
}

.project-preview {
    width: 100%;
    height: var(--doc-height);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s ease;
}

.project-preview.reveal {
    opacity: 1;
}

.bio {
    width: 500px;
    height: auto;
    padding: var(--general-margin);
    position: fixed;
    bottom: var(--general-margin);
    right: var(--general-margin);
    border: solid 1px #4c00ff;
    font-size: .9rem;
}

.bio p:not(:last-of-type) {
    margin-bottom: 1rem;
}

footer {
    margin-top: 3rem;
}

/* sound objects of migrations */
@-webkit-keyframes marquee1 {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes marquee1 {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-webkit-keyframes marquee2 {
    from {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    to {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

@keyframes marquee2 {
    from {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    to {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

.marquee-container {
    width: auto;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
    transition: opacity 2s ease;
    -webkit-animation: fade 5s ease-in 1;
    animation: fade 5s ease-in 1;
}

.marquee {
    position: relative;
    width: 100vw;
    top: 0;
    left: 0;
    white-space: nowrap;
    stroke: #041185;
    stroke-width: 1px;
    stroke-miterlimit: 10;
    fill: none;
    -webkit-filter: drop-shadow(1px 1px 2px #82B4FF);
    filter: drop-shadow(1px 1px 2px #82B4FF);
}

.marquee:nth-child(1) {
    -webkit-animation: marquee1 2.5s linear infinite;
    animation: marquee1 2.5s linear infinite;
}

.marquee:nth-child(2) {
    -webkit-animation: marquee2 2.5s linear infinite;
    animation: marquee2 2.5s linear infinite;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

/* field studies */
@keyframes drawLine {
    from {
        stroke-dashoffset: 1;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.sgorbio {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.sgorbio svg {
    width: 100%;
    height: 100%;
}

.sgorbio path {
    stroke: #000;
    stroke-width: 1px;
    stroke-miterlimit: 10;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}

.sgorbio-1 {
    animation: drawLine 6s ease-in-out alternate forwards infinite;
}

.sgorbio-2 {
    animation: drawLine 5s 1s ease-in-out alternate forwards infinite;
}

/* least */
.least-cover img {
    width: 100%;
    object-fit: cover;
}

/* mcbd */
.mcbd-cover {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.mcbd-cover img {
    width: 90%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.project-preview.reveal .mcbd-cover img {
    display: block;
}

/* manicula */
.content-over {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 9;
}

.content-over img {
    width: 40vw;
}

/* the forest */
@font-face {
    font-family: "Manrope";
    src: url("assets/fonts/manrope.woff2") format("woff2"),
        url("assets/fonts/manrope.ttf") format("ttf");
}

.text-container {
    padding: var(--general-margin);
    height: var(--doc-height);
    background-color: #000;
    color: #fff;
}

.text-container p {
    font-family: "Manrope", sans-serif;
    font-size: 5vw;
    font-weight: 100;
    line-height: 1.1;
    margin-bottom: 70px;
    text-transform: none;
}

@media screen and (max-width: 1000px) {
    .bio {
        background-color: #fff;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --general-margin: 1rem;
    }

    canvas {
        display: none;
    }

    .noise {
        background:
            linear-gradient(160deg, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
            linear-gradient(80deg, rgba(240, 240, 240, 1), rgba(0, 255, 255, 0)),
            url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.2' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
        background-attachment: fixed;
        position: relative;
    }

    .noise::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background:
            linear-gradient(5deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0)),
            linear-gradient(260deg, rgba(240, 240, 240, 1), rgba(0, 255, 255, 0)),
            url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.2' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
        background-attachment: fixed;
        z-index: 10;
        mix-blend-mode: color-burn;
        pointer-events: none;
    }

    .header {
        position: static;
        text-align: center;
    }

    .projects-list li:first-of-type {
        text-align: center;
    }

    .project-header {
        flex-direction: column;
        gap: 0;
    }

    .project-overview {
        display: none;
    }

    .bio.close {
        width: 2rem;
        height: 2rem;
        bottom: var(--general-margin);
        right: var(--general-margin);
        top: unset;
        left: unset;
        border-radius: 50%;
    }

    .bio-wrapper {
        opacity: 1;
        transition: opacity .3s ease-in-out;
    }

    .bio-wrapper p,
    .bio-wrapper a {
        color: #fff;
    }

    .bio {
        width: 100%;
        height: var(--doc-height);
        bottom: 0;
        right: 0;
        background-color: var(--acc-color);
        transition: all .3s ease-in-out;
    }

    .bio.close .bio-wrapper {
        opacity: 0;
    }

    .copy {
        margin-top: 3rem;
    }

    .copy p {
        max-width: 100%;
    }
}